body {
    background-color: #3d56ba;
    background-image: url("../images/back.jpg");
}

.h1 {
    font-size: 19vh;
    color: white;
    text-align: center;
    margin-top: 10vh;
}

.inputbox {
    text-align: center;
    border-right: 0;
    border-left: 0;
    background: transparent;
    border-top: 0;
    border-bottom: 0.1vh solid white;
    font-size: 11vh;
    width: 63vh;
    color: white;
    outline: none;
}

::-webkit-input-placeholder {
    color: white;
    opacity: 0.3;
}

.container {
    text-align: center;
    margin-top: 17vh;
}

.submit {
    background: url(../images/Search.jpg);
    height: 14vh;
    background-size: contain;
    background-repeat: no-repeat;
    width: 13vh;
    border: 0;
    position: relative;
    outline: none;
    top: 4vh;
    cursor: pointer;
}

.submit:active {
    position: relative;
    top: 4.2vh;
    }

.newh1 {
    display: inline-block;
    font-size: 9vh;
    color: white;
}

.container,
.newcontainer {
    display: inline-block;
    text-align: center;
}

.header {
    text-align: center;
}

.newheader {
    text-align: center;
    opacity: 0.9;
    padding-bottom: 2.5vh;
    -webkit-box-shadow: 0px 1px 36px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 36px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 36px -6px rgba(0, 0, 0, 0.75);
    width: 100%;
    z-index: 10;
}

.newcontainer .inputbox {
    text-align: center;
    border-right: 0;
    border-left: 0;
    background: transparent;
    border-top: 0;
    border-bottom: 0.1vh solid white;
    font-size: 7vh;
    width: 35vh;
    color: white;
    outline: none;
    margin-left: 3vh;
}

.newcontainer .submit {
    background: url(../images/Search.jpg);
    height: 9vh;
    background-size: contain;
    background-repeat: no-repeat;
    width: 9vh;
    border: 0;
    position: relative;
    outline: none;
    margin-left: 1vh;
    top: 2vh;
}

.newcontainer .submit:active {
    position: relative;
    top: 2.2vh;
}

.maintemp {
    text-align: center;
    font-size: 29vh;
    color: white;
    opacity: 0.9;
    margin-top: 8vh;
}

.mmtemp {
    text-align: center;
    font-size: 14vh;
    color: white;
    opacity: 0.8;
}

.min,
.max {
    display: inline-block;
    padding: 7vh;
}

.min {
    float: left;
}

.max {
    float: right;
}

.alltemp {
    display: none;
}

.backimg {
    /*display: none;*/
    position: absolute;
    opacity: 0.1;
    left: 0;
    width: 100%;
    top: 13vh;
    height: 87vh;
    background-repeat:no-repeat; 
    background-size:cover;
        z-index: -1;
}